<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet Form</title>
</head>
<body>
    <h1>Greeter Form v2</h1>
    <form action ="/greet"> 
        <input type="text" placeholder="your name" name="username" >
        <label for"compliments" > Do you want to compliments?</label>
        <input id="compliments" type="checkbox" name="wants_compliments">
        <button>Submit</button>

    </form>
</body>
</html>